@charset 'UTF8';

body {
     background-color: white;
     color: rgba(0,0,0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
}
/* formatação de imagens e legendas. */

figure.foto-legenda {
    position: relative;
    border: 8px solid white ;
    box-shadow: 1px 1px 4px;
    width: 40%;


}

figure.foto-legenda img {
    width: 600px;
    height: 400px;
}

figure.foto-legenda figcaption {
    opacity: 0;
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

figure.foto-legenda:hover figcaption{
    opacity: 100;
}